<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.keeay.anepoch.user.service.dao.rolemenuinfo.RoleMenuInfoMapper">
	<resultMap id="roleMenuInfoResultMap" type="com.keeay.anepoch.user.service.model.RoleMenuInfo">
        <result property="id" column="id"/>
        <result property="roleCode" column="role_code"/>
        <result property="menuCodeListStr" column="menu_codes"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="RoleMenuInfoColumns">
	    <![CDATA[
		id,role_code,menu_codes,create_user,create_time,update_user,update_time
	    ]]>
	</sql>
	<!--sql where查询条件定义-->
	<sql id="listRoleMenuInfoWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="roleCode!=null">
				AND role_code = #{roleCode}
			</if>
			<if test="menuCodeListStr!=null">
				AND menu_codes = #{menuCodeListStr}
			</if>
			<if test="createUser!=null">
				AND create_user = #{createUser}
			</if>
			<if test="createTime!=null">
				AND create_time = #{createTime}
			</if>
			<if test="updateUser!=null">
				AND update_user = #{updateUser}
			</if>
			<if test="updateTime!=null">
				AND update_time = #{updateTime}
			</if>
		</where>
	</sql>
	<!--sql limit查询条件定义-->
	<sql id="limit">
	<if test="_offset != null and _limit != null">
			limit #{_offset}, #{_limit}
		</if>
		<if test="_offset == null and _limit != null">
			limit #{_limit}
		</if>
		<if test="_offset == null and _limit == null">
			<include refid="max_limit"/>
		</if>
	</sql>

	<sql id="max_limit">
		limit 500
	</sql>

	<sql id="orderby">
		<choose>
			<when test='_orderby != null'>
				order by
				<foreach collection="_orderby" item="item" index="index" separator=",">
					${item}
					</foreach>
				</when>
			<otherwise>
				<include refid="orderById"/>
				</otherwise>
		</choose>
	</sql>

	<sql id="orderById">
		order by create_time desc
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO role_menu_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="roleCode!=null">
				role_code,
			</if>
			<if test="menuCodeListStr!=null">
				menu_codes,
			</if>
			<if test="createUser!=null">
				create_user,
			</if>
			<if test="createTime!=null">
				create_time,
			</if>
			<if test="updateUser!=null">
				update_user,
			</if>
			<if test="updateTime!=null">
				update_time,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id!=null">
						#{id,jdbcType=BIGINT},
				</if>
				<if test="roleCode!=null">
						#{roleCode,jdbcType=VARCHAR},
				</if>
				<if test="menuCodeListStr!=null">
						#{menuCodeListStr,jdbcType=LONGVARCHAR},
				</if>
				<if test="createUser!=null">
						#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime!=null">
						#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateUser!=null">
						#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateTime!=null">
						#{updateTime,jdbcType=TIMESTAMP}
				</if>
        </trim>
	</insert>

	<update id="update" >
        UPDATE role_menu_info SET
		<trim suffixOverrides=",">
	        <if test="roleCode!=null">
	        role_code = #{roleCode,jdbcType=VARCHAR} ,
	        </if>
	        <if test="menuCodeListStr!=null">
	        menu_codes = #{menuCodeListStr,jdbcType=LONGVARCHAR} ,
	        </if>
	        <if test="createUser!=null">
	        create_user = #{createUser,jdbcType=VARCHAR} ,
	        </if>
	        <if test="createTime!=null">
	        create_time = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
	        <if test="updateUser!=null">
	        update_user = #{updateUser,jdbcType=VARCHAR} ,
	        </if>
	        <if test="updateTime!=null">
	        update_time = #{updateTime,jdbcType=TIMESTAMP} ,
	        </if>
		</trim>
        WHERE 
	        id = #{id} 
	</update>

	<update id="updateByRoleCode" >
		UPDATE role_menu_info SET
		<trim suffixOverrides=",">
			<if test="menuCodeListStr!=null">
				menu_codes = #{menuCodeListStr,jdbcType=LONGVARCHAR} ,
			</if>
			<if test="createUser!=null">
				create_user = #{createUser,jdbcType=VARCHAR} ,
			</if>
			<if test="createTime!=null">
				create_time = #{createTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="updateUser!=null">
				update_user = #{updateUser,jdbcType=VARCHAR} ,
			</if>
			<if test="updateTime!=null">
				update_time = #{updateTime,jdbcType=TIMESTAMP} ,
			</if>
		</trim>
		WHERE
		role_code = #{roleCode}
	</update>

	<!--逻辑删除记录-->
	<delete id="delete">
		UPDATE role_menu_info SET delete_flag = 1
		<include refid="listRoleMenuInfoWhere"/>
	</delete>

	<!--批量删除-->
	<delete id="deleteByRoleCodeList">
		delete  from  role_menu_info where
		role_code in
		<foreach collection="roleCodeList" item="code" open="(" separator="," close=")">
			#{code}
		</foreach>
	</delete>

    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->

	<!--全量查询-->
    <select id="list" resultMap="roleMenuInfoResultMap">
    	SELECT <include refid="RoleMenuInfoColumns" /> FROM role_menu_info
		<include refid="listRoleMenuInfoWhere"/>
    </select>

	<!--该方法适用于，获取的数据条数小于等于1 如有特殊需要自己实现-->
	<select id="getDetailById" resultMap="roleMenuInfoResultMap">
		SELECT <include refid="RoleMenuInfoColumns" />
		FROM role_menu_info
		where id = #{id}
	</select>

	<!--该方法适用于，获取的数据条数小于等于1 如有特殊需要自己实现-->
	<select id="getOneByRoleCode" resultMap="roleMenuInfoResultMap">
		SELECT <include refid="RoleMenuInfoColumns" />
		FROM role_menu_info
		where role_code = #{roleCode}
	</select>

	<!--该方法适用于，获取的数据条数小于等于1 如有特殊需要自己实现-->
	<select id="getRoleMenuListByRoleCodes" resultMap="roleMenuInfoResultMap">
		SELECT <include refid="RoleMenuInfoColumns" />
		FROM role_menu_info
		where role_code in
		<foreach collection="roleCodes" item="code" open="(" separator="," close=")">
			#{code}
		</foreach>
	</select>
</mapper>

