<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.keeay.anepoch.user.service.dao.userinfo.UserInfoMapper">
	<resultMap id="userInfoResultMap" type="com.keeay.anepoch.user.service.model.UserInfo">
        <result property="id" column="id"/>
        <result property="organizationCode" column="organization_code"/>
        <result property="userCode" column="user_code"/>
        <result property="loginName" column="login_name"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="userName" column="user_name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="gender" column="gender"/>
        <result property="remark" column="remark"/>
        <result property="activeStatus" column="active_status"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
	</resultMap>
	<!-- 用于select查询公用抽取的列 -->
	<sql id="UserInfoColumns">
	    <![CDATA[
		id,organization_code,user_code,login_name,login_pwd,user_name,phone,email,gender,remark,active_status,create_user,create_time,update_user,update_time
	    ]]>
	</sql>
	<!--sql where查询条件定义-->
	<sql id="listUserInfoWhere">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="id!=null">
				AND id = #{id}
			</if>
			<if test="organizationCode!=null">
				AND organization_code = #{organizationCode}
			</if>
			<if test="userCode!=null">
				AND user_code = #{userCode}
			</if>
			<if test="loginName!=null">
				AND login_name = #{loginName}
			</if>
			<if test="loginPwd!=null">
				AND login_pwd = #{loginPwd}
			</if>
			<if test="userName!=null">
				AND user_name = #{userName}
			</if>
			<if test="phone!=null">
				AND phone = #{phone}
			</if>
			<if test="email!=null">
				AND email = #{email}
			</if>
			<if test="gender!=null">
				AND gender = #{gender}
			</if>
			<if test="remark!=null">
				AND remark = #{remark}
			</if>
			<if test="activeStatus!=null">
				AND active_status = #{activeStatus}
			</if>
			<if test="createUser!=null">
				AND create_user = #{createUser}
			</if>
			<if test="createTime!=null">
				AND create_time = #{createTime}
			</if>
			<if test="updateUser!=null">
				AND update_user = #{updateUser}
			</if>
			<if test="updateTime!=null">
				AND update_time = #{updateTime}
			</if>
		</where>
	</sql>
	<!--sql limit查询条件定义-->
	<sql id="limit">
	<if test="_offset != null and _limit != null">
			limit #{_offset}, #{_limit}
		</if>
		<if test="_offset == null and _limit != null">
			limit #{_limit}
		</if>
		<if test="_offset == null and _limit == null">
			<include refid="max_limit"/>
		</if>
	</sql>

	<sql id="max_limit">
		limit 500
	</sql>

	<sql id="orderby">
		<choose>
			<when test='_orderby != null'>
				order by
				<foreach collection="_orderby" item="item" index="index" separator=",">
					${item}
					</foreach>
				</when>
			<otherwise>
				<include refid="orderById"/>
				</otherwise>
		</choose>
	</sql>

	<sql id="orderById">
		order by create_time desc
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id!=null">
				id,
			</if>
			<if test="organizationCode!=null">
				organization_code,
			</if>
			<if test="userCode!=null">
				user_code,
			</if>
			<if test="loginName!=null">
				login_name,
			</if>
			<if test="loginPwd!=null">
				login_pwd,
			</if>
			<if test="userName!=null">
				user_name,
			</if>
			<if test="phone!=null">
				phone,
			</if>
			<if test="email!=null">
				email,
			</if>
			<if test="gender!=null">
				gender,
			</if>
			<if test="remark!=null">
				remark,
			</if>
			<if test="activeStatus!=null">
				active_status,
			</if>
			<if test="createUser!=null">
				create_user,
			</if>
			<if test="createTime!=null">
				create_time,
			</if>
			<if test="updateUser!=null">
				update_user,
			</if>
			<if test="updateTime!=null">
				update_time,
			</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id!=null">
						#{id,jdbcType=BIGINT},
				</if>
				<if test="organizationCode!=null">
						#{organizationCode,jdbcType=VARCHAR},
				</if>
				<if test="userCode!=null">
						#{userCode,jdbcType=VARCHAR},
				</if>
				<if test="loginName!=null">
						#{loginName,jdbcType=VARCHAR},
				</if>
				<if test="loginPwd!=null">
						#{loginPwd,jdbcType=VARCHAR},
				</if>
				<if test="userName!=null">
						#{userName,jdbcType=VARCHAR},
				</if>
				<if test="phone!=null">
						#{phone,jdbcType=VARCHAR},
				</if>
				<if test="email!=null">
						#{email,jdbcType=VARCHAR},
				</if>
				<if test="gender!=null">
						#{gender,jdbcType=BIT},
				</if>
				<if test="remark!=null">
						#{remark,jdbcType=VARCHAR},
				</if>
				<if test="activeStatus!=null">
						#{activeStatus,jdbcType=BIT},
				</if>
				<if test="createUser!=null">
						#{createUser,jdbcType=VARCHAR},
				</if>
				<if test="createTime!=null">
						#{createTime,jdbcType=TIMESTAMP},
				</if>
				<if test="updateUser!=null">
						#{updateUser,jdbcType=VARCHAR},
				</if>
				<if test="updateTime!=null">
						#{updateTime,jdbcType=TIMESTAMP}
				</if>
        </trim>
	</insert>

	<update id="update" >
        UPDATE user_info SET
		<trim suffixOverrides=",">
	        <if test="organizationCode!=null">
	        organization_code = #{organizationCode,jdbcType=VARCHAR} ,
	        </if>
	        <if test="userCode!=null">
	        user_code = #{userCode,jdbcType=VARCHAR} ,
	        </if>
	        <if test="loginName!=null">
	        login_name = #{loginName,jdbcType=VARCHAR} ,
	        </if>
	        <if test="loginPwd!=null">
	        login_pwd = #{loginPwd,jdbcType=VARCHAR} ,
	        </if>
	        <if test="userName!=null">
	        user_name = #{userName,jdbcType=VARCHAR} ,
	        </if>
	        <if test="phone!=null">
	        phone = #{phone,jdbcType=VARCHAR} ,
	        </if>
	        <if test="email!=null">
	        email = #{email,jdbcType=VARCHAR} ,
	        </if>
	        <if test="gender!=null">
	        gender = #{gender,jdbcType=BIT} ,
	        </if>
	        <if test="remark!=null">
	        remark = #{remark,jdbcType=VARCHAR} ,
	        </if>
	        <if test="activeStatus!=null">
	        active_status = #{activeStatus,jdbcType=BIT} ,
	        </if>
	        <if test="createUser!=null">
	        create_user = #{createUser,jdbcType=VARCHAR} ,
	        </if>
	        <if test="createTime!=null">
	        create_time = #{createTime,jdbcType=TIMESTAMP} ,
	        </if>
	        <if test="updateUser!=null">
	        update_user = #{updateUser,jdbcType=VARCHAR} ,
	        </if>
	        <if test="updateTime!=null">
	        update_time = #{updateTime,jdbcType=TIMESTAMP} ,
	        </if>
		</trim>
        WHERE 
	        id = #{id} 
	</update>

	<!--逻辑删除记录-->
	<delete id="delete">
		UPDATE user_info SET delete_flag = 1
		<include refid="listUserInfoWhere"/>
	</delete>

    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->

	<!--全量查询-->
    <select id="list" resultMap="userInfoResultMap">
    	SELECT <include refid="UserInfoColumns" /> FROM user_info
		<include refid="listUserInfoWhere"/>
    </select>

	<!--该方法适用于，获取的数据条数小于等于1 如有特殊需要自己实现-->
	<select id="getDetailById" resultMap="userInfoResultMap">
		SELECT <include refid="UserInfoColumns" />
		FROM user_info
		where id = #{id}
	</select>
</mapper>

